.carousel-container {
  padding-top: 32px;
  min-height: 300px;
  height: 320px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 32px;
  /* max-width: 100% */
  /* code for out of bound carousel */
  max-width: calc(100vw - 64px);
  width: calc(100vw - 64px);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.carousel-scroll {
  display: flex;
  width: fit-content;
  overflow-y: hidden;
}

.carouselItem-externals {
  user-select: none;
  height: 320px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselItem {
  position: relative;
  display: flex;
  cursor: pointer;
  box-sizing: content-box;
}

.carouselCaption {
  padding: 16px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  opacity: 0;
  text-wrap: nowrap;
  transition: opacity 0.25s linear;
  pointer-events: none;
}

p.carouselCaption {
  text-align: center;
}

.carouselCaption:hover, .carouselItem:hover + .carouselCaption {
  opacity: 1;
}

.carouselItem:hover > img:last-child, .carouselCaption:hover + .carouselItem > img:last-child {
  box-shadow: 0px 0px 10px white ;
}

.carouselItem > img {
  border-radius: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  display: flex;
}

.carouselItem > img:first-child {
  background-color: white;
}

.carouselItem.horizontal > img {
  width: 300px;
  height: auto;
}

.carouselItem.vertical > img {
  height: 300px;
  width: auto;
}