.topHeader {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(15, 15, 15, 0.5);
  height: 80px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(50px);
}

#logo {
  margin-left: 18px;
  margin-right: 24px;
  height: 42px;
  width: 127px;
  display: flex;
}