.searchHeader {
  max-height: 64px;
  padding: 8px;
  justify-content: center;
}

.searchHeader .textField {
  width: 30%;
}

.gameContainer {
  flex-wrap: nowrap;
  row-gap: 24px;
  justify-content: center;
  overflow-y: scroll;
}

.gameEntry {
  display: flex;
  width: 70%;
  max-width: 100%;
}

.searchResultsContainer {
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  justify-content: space-between;
  overflow-y: scroll;
}

.searchResult {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  width: 22%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 36px;
}

.searchResult img {
  width: 100%;
}

.searchModal {
  display: flex;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100vw - 36px);
  background-color: rgba(15, 15, 15, 0.5);
  backdrop-filter: blur(50px);
  height: calc(100vh - 120px);
  color: white;
  overflow-y: hidden;
  border-radius: 10px;
  padding: 18px;
}

@media (max-width: 768px) {
  .searchHeader .textField {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .searchHeader .textField {
    width: 100%;
  }

  .searchResult {
    width: 29%;
  }
}

@media (max-width: 430px) {
  .searchResultsContainer {
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 12px;
    justify-content: space-between;
  }

  .searchResult {
    width: 48%;
  }
}
