.labelContainer.horizontal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 49.9%;
  width: 49.9%;
  height: auto;
  margin-bottom: 20px;
}

.labelContainer.vertical {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 33.2%;
  width: 33.2%;
  height: auto;
  margin-bottom: 20px;
}

.labelPadder.horizontal {
  position: absolute;
  width: 100%;
  padding: 0;
  padding-bottom: 63%;
}

.labelPadder.vertical {
  position: absolute;
  height: 100%;
  padding: 0;
  padding-right: 63%;
}

.labelContainer > .colorChanger-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  border-radius: 24px;
  opacity: 0;
  transition: all 0.5s;
  background-color: white;
  transform: translate(-50%, -50%);
}

.labelContainer:hover > .colorChanger-container {
  opacity: 1;
}
