.labelsView {
  padding-top: 90px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 20px;
  overflow: hidden;
}

.labelContainer {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  border: 2px solid transparent;
  margin-bottom: 20px;
}

.labelContainer.horizontal {
  max-width: var(--cell-width);
  width: calc(49.9% - 20px);
  max-height: var(--cell-width);
}

.labelContainer .floating-checkbox {
  opacity: 0;
  background-color: #5361D9;
  position: absolute;
  top: 0;
  transition: opacity 400ms;
  border-radius: 8px;
}

.labelContainer .floating-checkbox.left {
  left: 0;
}

.labelContainer .floating-checkbox.right {
  right: 0;
}

.labelContainer.card-selected .floating-checkbox {
  opacity: 1;
}

.labelContainer:hover .floating-checkbox {
  opacity: 1;
}

.labelContainer.vertical {
  max-width: 370px;
  width: calc(33.2% - 20px);
  max-height: 1029px;
}

@media (max-width: 920px) {
  .labelsView {
    padding-top: 170px;
  }
}

@media (max-width: 768px) {
  .labelContainer.horizontal {
    max-width: 768px;
    width: 98%;
    max-height: 768px;
  }

  .labelContainer.vertical {
    max-width: 657px;
    width: calc(49.9% - 20px);
    max-height: 1029px;
  }

  .labelContainer.dropzone.vertical {
    flex-grow: 1;
    /* max width twice as a card */
    max-width: calc(100% - 20px);
  }
}

@media (max-width: 414px) {
  .labelContainer.vertical.dropzone {
    max-width: 657px;
    width: calc(100% - 20px);
    max-height: 1029px;
  }
}
