.labelsView {
  padding-top: 90px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  overflow: hidden;
}

.labelContainer {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin-bottom: 20px;
}

.labelContainer.horizontal {
  max-width: 1029px;
  width: calc(49.9% - 20px);
  max-height: 657px;
}

.labelContainer.vertical {
  max-width: 657px;
  width: calc(33.2% - 20px);
  max-height: 1029px;
}

@media (max-width: 920px) {
  .labelsView {
    padding-top: 170px;
  }
}


@media (max-width: 768px){
  .labelContainer.horizontal {
    max-width: 1029px;
    width: 98%;
    max-height: 657px;
  }
  
  .labelContainer.vertical {
    max-width: 657px;
    width: calc(49.9% - 20px);
    max-height: 1029px;
  }

  .colorChangerContainer.horizontal {
    max-width: 90%;
  }
  
  .colorChangerContainer.vertical {
    max-width: 40%;
  }

}

@media (max-width: 414px) {
  
  .labelContainer.vertical.dropzone {
    max-width: 657px;
    width: calc(100% - 20px);
    max-height: 1029px;
  }
}