.labelContainer {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin-bottom: 20px;
}

.labelContainer.horizontal {
  max-width: 1029px;
  width: 49.9%;
  max-height: 657px;
}

.labelContainer.vertical {
  max-width: 657px;
  width: 33.2%;
  max-height: 1029px;
}

.colorChanger-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 64px;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  border-radius: 24px;
  transition: all 0.5s;
  background-color: white;
  transform: translate(-50%, -50%);
}
