.cardEditModal {
  display: flex;
  position: absolute;
  top: 18px;
  left: 18px;
  width: calc(100vw - 36px);
  box-sizing: border-box;
  background-color: #292c34;
  height: calc(100vh - 36px);
  color: white;
  overflow-y: hidden;
  border-radius: 10px;
  padding: 18px;
}

.editSpace {
  flex-grow: 1;
  height: 100%;
}

.verticalStack.resourceSpace {
  overflow-y: scroll;
  align-items: center;
  max-width: 30%;
  max-height: 100%;
}

.horizontalStack.resourceSpace {
  overflow-x: scroll;
  align-items: center;
  max-height: 30%;
  max-width: 100%;
}