body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: #292C34;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  scrollbar-width: 'thin';
  scrollbar-color: rgba(244,244,244,0.4) transparent;
}

::-webkit-scrollbar {
  transition: background-color 0.2s ease;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(244,244,244,0.4);
  border-radius: 16px;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}